.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: Open Sans;
  background-color: #ffffff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/*
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
*/
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73;
  letter-spacing: 0.3px;
  text-align: center;
  color: #8b8b8b;
}

.footer a {
  color: #8b8b8b !important;
}

.footer-foot {
  height: 33px;
  background-color: #eeeeee;
  padding-top: 7px;
  padding-bottom: 7px;
  opacity: 0.45;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  text-align: center;
  color: #8b8b8b;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

input[readonly].readonlyForm {
  background-color: white;
}

/*New Pasaplata design*/
.header {
  height: 56px;
  background-color: #00bd8a;
}

.pasaplata-logo {
  padding-top: 12px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.bg-plata {
  height: 297px;
  background-color: #00d19a;
  padding-right: 0px;
  padding-left: 0px;
}

.quote-title {
  padding-top: 33px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
}

input#srcAmnt {
  height: 65px;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

input#dstAmnt {
  height: 65px;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

form#formQuote {
  padding-left: 15px;
  padding-right: 15px;
}

.quote-market-exchange-rate {
  padding-top: 13px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #00936d;
}

.box {
  width: 296px;
  height: 112px;
  border-radius: 4px;
  background-color: #fafafa;
  margin: 40px auto;
  padding-top: 10px;
}

.arrow-right {
  margin-left: 20px;
  margin-right: 20px;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.bank-source-legend {
  float: left;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #8b8b8b;
  padding-left: 15px;
  padding-top: 10px;
}

.bank-destination-legend {
  float: right;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #8b8b8b;
  padding-right: 15px;
  padding-top: 10px;
}

.accordeon {
  border-radius: 4px;
  border: solid 1px #00d19a;
}

.panel-title {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #00bd8a;
}

.panel-heading {
  background-color: white!important;
}

.has-error {
  padding-top: 5px;
}
