<p>En Enviar Dinero Colombia queremos que los envíos de dinero sean tan simples como enviar un mensaje de texto. Para ello estamos trabajando día a día.</p>
<p>Tenemos experiencia en el desarrollo de aplicaciones, billeteras móviles, transferencias internacionales y desarrollo de sistemas bajo los más altos estándares de seguridad informática.</p>
<p>Fuimos seleccionados en el programa Startup Chile y estamos avanzando para que enviar dinero dentro de LatinoAmérica sea tan simple como enviar un mensaje.</p>
