<div class="info-text">
  <br>
  <blockquote>
    <p>En Pasaplata.com queremos que los envíos de dinero sean simples, rápidos y desde cualquier lugar, tal como enviar un mensaje de texto. Para ello estamos trabajando día a día.</p>
  </blockquote>
  <p>Tenemos experiencia en el desarrollo de aplicaciones, billeteras móviles, transferencias internacionales y desarrollo de sistemas bajo los más altos estándares de seguridad informática.</p>
  <p>Fuimos seleccionados en el programa Startup Chile y estamos avanzando para conectar las remesas en LatinoAmérica.</p>
</div>
