<div class="modal-header bank-selector-header">
  <p class="modal-title bank-selector-title" id="modal-title">Elige el banco desde donde depositarás</p>
</div>
<div class="modal-body" id="modal-body">
  <div class="list-group">
    <div ng-repeat="item in $ctrl.items" class="list-group-item bank-selector-item">
      <div class="row-picture">
        <img class="circle bank-selector-item-img" src="images/bancos_chile/{{item}}.png" alt="icon">
      </div>
      <div class="row-content bank-selector-item-text">
        {{item | truncate : 16 : '...'}}
        <input class="bank-selector-radio" type="radio" ng-model="$ctrl.selected.item" value="{{item}}">
      </div>
    </div>
  Seleccionaste: <b>{{ $ctrl.selected.item }}</b>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
