<div class="jumbotron">
  <h1>Envia dinero a Colombia</h1>
  <p class="lead">
    <img src="images/colombia_flag.svg" alt="Colombia" width="200px" height="200px"><br>
    En segundos, al menor costo
  </p>
  <p class="lead">
    Precio online:<br>
    1 CLP = {{marketExchangeRateActual}} COP
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Quiero enviar!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h3>Costo mínimo</h3>
  <p>
    Nadie ofrece un mejor precio para envíos desde tu Smartphone, a todo Colombia.
  </p>

  <h3>Total seguridad</h3>
  <p>
    Los envíos se ejecutan en minutos, de lo contrario te devolvemos la transferencia de inmediato.
  </p>

  <h3>Total transparencia</h3>
  <p>
    Siempre sabes cuanto te costará el envío, cual es la tasa de cambio y las comisiones.
  </p>

  <h3>¡Abierto las 24 horas, desde todas partes!</h3>
  <p>
    No más filas ni viajes a la oficina de remesas. Ahora directo desde tu Smartphone.
  </p>
</div>
