<div class="jumbotron">
  <img src="images/colombia_flag.svg" alt="Colombia" width="150px" height="150px"><br>
  <h1>Envia dinero a Colombia</h1>
  <p class="lead">
    En segundos, con total seguridad y al menor costo
  </p>
  <p class="lead" ng-show="marketExchangeRateActual > 0">
    Precio online:
    <br>
    1 CLP = {{marketExchangeRateActual}} COP
  </p>
  <p class="lead" ng-show="marketExchangeRateActual === 0">
    Precio online:
    <br>
    <i class="fa fa-refresh fa-spin fa-fw"></i>
  </p>
  <div class="alert alert-danger" role="alert" ng-show="marketExchangeRateActual === -1">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Servicio momentanemamente no disponible... reintentando en
    <timer interval="1000" countdown="10" language="es" class="ng-binding">{{secondUnit}}</timer>
  </div>
</div>

<div ng-show="!quotation" ng-hide="marketExchangeRateActual === -1">
  <form role="form" ng-submit="quote()">
    <div class="row">
      <h3>¿Cuanto quieres enviar?</h3>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" ng-model="sourceAmount" placeholder="Ingresa el monto a enviar desde Chile (en pesos Chilenos CLP)" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Ok">
        </span>
      </div>
    </div>
    <br>
    <div class="row">
      <h3>¿O cuanto quieres que reciban en Colombia?</h3>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" ng-model="destinationAmount" placeholder="Ingresa el monto a recibir en Colombia (en pesos Colombianos COP)" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Ok">
        </span>
      </div>
    </div>
  </form>
</div>

<div class="table" ng-show="quotation && quotation != 'failed'">
  <table class="table table-bordered">
    <thead class="thead-default">
      <tr>
        <th>Monto a Enviar</th>
        <th>Tasa de Cambio</th>
        <th>Comisión</th>
        <th>Monto a ser recibido en destino</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{quotation.sourceAmount | currency:"CLP ":0}}</th>
        <td>COP/CLP {{_.round(quotation.marketExchangeRate, 5)}}</th>
        <td>{{quotation.dinexFeeTotalAmount | currency:"CLP ":0}}</th>
        <td>{{quotation.destinationAmountMinusDinexFeeAndDepositFeeAndWithdrawalFee | currency:"COP ":0}}</th>
      </tr>
    </tbody>
  </table>
  <br>
  <row class="col-md-6 text-center">
    <p><a class="btn btn-lg btn-success" ng-href="#/send">Quiero enviar! &nbsp;<span class="glyphicon glyphicon-ok"></span></a></p>
  </row>
  <row class="col-md-6 text-center">
    <p><a class="btn btn-lg btn-info" ng-click="reset()">Cotizar de nuevo &nbsp;<span class="glyphicon glyphicon-repeat"></span></a></p>
  </row>
</div>

<div ng-show="quotation === 'failed'">
  <div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    No es posible cotizar ese monto por el momento. Intenta con un monto más bajo. Si el problema persiste escríbenos.
  </div>
  <row class="col-md-12 text-center">
    <p><a class="btn btn-lg btn-info" ng-click="reset()">Cotizar de nuevo &nbsp;<span class="glyphicon glyphicon-repeat"></span></a></p>
  </row>
</div>


<div class="row marketing" ng-hide="quotation">
  <h3>Directo desde tu cuenta bancaria a la del destinatario en Colombia</h3>
  <p>
    Cotiza en línea y haz una transferencia bancaria para que envíemos el dinero a destino
  </p>

  <h3>Costo mínimo</h3>
  <p>
    Nadie ofrece un mejor precio para envíos desde tu Smartphone, a todo Colombia.
  </p>

  <h3>Total seguridad</h3>
  <p>
    Los envíos se ejecutan en minutos, de lo contrario te devolvemos la transferencia de inmediato.
  </p>

  <h3>Total transparencia</h3>
  <p>
    Siempre sabes cuanto te costará el envío, cual es la tasa de cambio y las comisiones.
  </p>

  <h3>¡Abierto las 24 horas, desde todas partes!</h3>
  <p>
    No más filas ni viajes a la oficina de remesas. Ahora directo desde tu Smartphone.
  </p>
</div>
