<!--Before confirming the quotation and entering source and destination info-->
<div ng-show="!quotationConfirmed">
  <!--Alert when quotation time is expiring-->
  <div ng-show="quotationTime === 'warning'">
    <div class="alert alert-warning" role="alert">
      <h4>
        <i class="fa fa-clock-o"></i> ¡Atención! La cotización vencerá en
        <timer interval="1000" language="es" end-time="quotation.expirationTime">{{minutes}} minuto{{minutesS}}</timer>
      </h4>
    </div>
    <hr>
  </div>

  <!--Source and destination information-->
  <div ng-show="!remittanceInfo">
    <div class="alert alert-info" role="alert">
      <p>Ingresa los siguientes datos para confirmar el envío de {{quotation.sourceAmount | currency:"CLP $":0}} desde Chile para recibir {{quotation.destinationAmountToBeReceived | currency:"COP $":0}} en Colombia</p>
    </div>
    <hr>

    <form role="form" name="setRemittanceInfoForm" ng-submit="setRemittanceInfo()" ng-show="!remittanceInfo">
      <div class="panel panel-default">
        <div class="panel-heading">Datos de quién envía en Chile</div>
        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            <input name="srcEmail" type="email" class="form-control" ng-model="sourceOpts.email" placeholder="Correo Electrónico" autofocus required ng-pattern="emailRegex" focus-next="rut">
          </div>
          <div class="input-group has-error" on-error="srcEmail:pattern:Debes completar este campo con un email válido"></div>
          <div class="input-group has-error" on-error="srcEmail:required:Debes completar este campo con un email válido"></div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">RUT</span>
            <input name="srcRut" id="rut" type="tel" class="form-control" ng-model="sourceOpts.bankAccountHolderId" placeholder="RUT de la cuenta bancaria desde la cual harás la transferencia" required ng-rut focus-next="srcAddress">
          </div>
          <div class="input-group has-error" on-error="srcRut:rut:Debes completar este campo con un RUT válido"></div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-home"></i></span>
            <input name="srcAddress" id="srcAddress" type="text" class="form-control" ng-model="sourceOpts.homeAddress.address" placeholder="Ingresa tu dirección" required focus-next="srcComunaSelect">
          </div>
          <div class="input-group has-error" on-error="srcAddress:required:Ingresa tu dirección"></div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Comuna</span>
            <select name="srcComunaSelect" id="srcComunaSelect" class="form-control" ng-model="sourceOpts.homeAddress.comuna" required focus-next="destPhone">
              <option value="">Selecciona tu comuna de residencia</option>
              <option ng-repeat="comuna in chileComunas" value="{{comuna.name}}">{{comuna.name}}</option>
            </select>
          </div>
          <div class="input-group has-error" on-error="srcComunaSelect:required:Selecciona una comuna"></div>
          <br>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Datos de quién recibe en Colombia</div>
        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-phone"></i> +57</span>
            <input name="destPhone" id="destPhone" type="tel" class="form-control" ng-model="destinationOpts.phoneNumber" placeholder="Teléfono del destinatario" required phone-number="CO" focus-next="destId">
          </div>
          <div class="input-group has-error" on-error="destPhone:phoneNumber:Ingresa un número de teléfono válido"></div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">CC</span>
            <input name="destId" id="destId" type="tel" class="form-control" ng-model="destinationOpts.bankAccountHolderId" placeholder="Número de ciudadania del destinatario" required validate-id-colombia="CC" focus-next="destName">
          </div>
          <div class="input-group has-error" on-error="destId:validateIdColombia:Ingresa un número válido de cédula de ciudadanía"></div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Nombre</span>
            <input name="destName" id="destName" type="text" class="form-control" ng-model="destinationOpts.bankAccountHolderName" placeholder="Nombre Completo del destinatario" required focus-next="destBankSelect">
          </div>
          <div class="input-group has-error" on-error="destName:required:Ingresa un nombre de destinatario"></div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-bank"></i></span>
            <select name="destBankSelect" id="destBankSelect" class="form-control" ng-model="destinationOpts.bankName" required focus-next="destBankAccType">
              <option value="">Selecciona el banco de destino</option>
              <option ng-repeat="bank in colombiaBanks" value="{{bank}}">{{bank}}</option>
            </select>
          </div>
          <div class="input-group has-error" on-error="destBankSelect:required:Selecciona un banco"></div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-bank"></i></span>
            <select name="destBankAccType" id="destBankAccType" class="form-control" ng-model="destinationOpts.bankAccountType" required focus-next="destBankAccNumber">
              <option value="">Selecciona el tipo de cuenta</option>
              <option ng-repeat="type in colombiaBankAccountTypes" value="{{type}}">{{type}}</option>
            </select>
          </div>
          <div class="input-group has-error" on-error="destBankAccType:required:Selecciona un tipo de cuenta"></div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
            <input name="destBankAccNumber" id="destBankAccNumber" type="tel" class="form-control" ng-model="destinationOpts.bankAccountNumber" placeholder="Número de cuenta bancaria de destino" required focus-next="confirm">
          </div>
          <div class="input-group has-error" on-error="destBankAccNumber:required:Ingresa un número válido de cuenta de destino"></div>
          <br>
        </div>
      </div>
      <a class="btn btn-default pull-left" ng-href="#/">Nueva cotización &nbsp;<span class="glyphicon glyphicon-repeat"></span></a>
      <button id="confirm" type="submit" class="btn btn-primary pull-right" ng-disabled="setRemittanceInfoForm.$invalid">Confirmar</button>
      <br>
    </form>
    <br>
  </div>

  <!--Confirm source and destination information-->
  <div ng-show="remittanceInfo">
    <div class="well">
      <h4>Por favor revisa la información antes de confirmar la remesa.</h4>
    </div>
    <hr>

    <div class="panel panel-info">
      <div class="panel-heading">Datos de quién envía en Chile</div>
      <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            <input class="form-control readonlyForm" ng-model="sourceOpts.email" readonly>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">RUT</span>
            <input class="form-control readonlyForm" ng-model="sourceOpts.bankAccountHolderId" readonly>
          </div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">Datos de quién recibe en Colombia</div>
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-phone"></i></span>
          <input class="form-control readonlyForm" ng-model="destinationOpts.phoneNumber" readonly>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">CC</span>
          <input class="form-control readonlyForm" ng-model="destinationOpts.bankAccountHolderId" readonly>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Nombre</span>
          <input class="form-control readonlyForm" ng-model="destinationOpts.bankAccountHolderName" readonly>
        </div>
        <br>
        <label class="control-label">Banco de destino</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-bank"></i></span>
          <input class="form-control readonlyForm" ng-model="destinationOpts.bankName" readonly>
        </div>
        <br>
        <label class="control-label">Tipo de cuenta</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-bank"></i></span>
          <input class="form-control readonlyForm" ng-model="destinationOpts.bankAccountType" readonly>
        </div>
        <br>
        <label class="control-label">Número de cuenta de destino</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
          <input class="form-control readonlyForm" ng-model="destinationOpts.bankAccountNumber" readonly>
        </div>
        <br>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">Remesa a enviar</div>
      <div class="panel-body">
        <label class="control-label">Monto a enviar desde Chile</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-usd"></i> CLP</span>
          <input class="form-control readonlyForm" ng-model="quotation.sourceAmountToBeDeposited" readonly>
        </div>
        <br>
        <label class="control-label">Monto a recibir en Colombia</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-usd"></i> COP</span>
          <input class="form-control readonlyForm" ng-model="quotation.destinationAmountToBeReceived" readonly>
        </div>
        <br>
        <label class="control-label">Comisión</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-usd"></i> CLP</span>
          <input class="form-control readonlyForm" ng-model="quotation.dinexFeeTotalAmount" readonly>
        </div>
      </div>
    </div>

    <row class="col-md-6 text-center">
      <p><a class="btn btn-default" ng-click="edit()">Editar &nbsp;<span class="glyphicon glyphicon-edit"></span></a></p>
    </row>
    <row class="col-md-6 text-center">
      <p><a class="btn btn-lg btn-success" ng-click="create()">Confirmar &nbsp;<span class="glyphicon glyphicon-ok"></span></a></p>
    </row>
    <br>
    <div>
      <h4 class="text-center">Al confirmar declaras estar de acuerdo con los <a href="#/terms" target="_blank">términos y condiciones</a></h4>
    </div>
  </div>

  <!--Alert when quotation time is expiring-->
  <div ng-show="quotationTime === 'warning'">
    <hr>
    <div class="alert alert-warning" role="alert">
      <h4>
        <i class="fa fa-clock-o"></i> ¡Atención! La cotización vencerá en
        <timer interval="1000" language="es" end-time="quotation.expirationTime">{{minutes}} minuto{{minutesS}}</timer>
      </h4>
    </div>
  </div>
</div>

<!--Remittance being confirmed-->
<div ng-show="quotationConfirmed === 'pending'">
  <div class="alert alert-info" role="alert">
    Procesando...<i class="fa fa-refresh fa-spin fa-fw"></i>
  </div>
</div>

<!--Remittance confirmed success-->
<div ng-show="quotationConfirmed === 'success'">
  <div class="alert alert-warning" role="alert">
    <h4>
      ¡Excelente! Haz la transferencia bancaria antes de
      <strong>
        <timer interval="1000" language="es" end-time="quotation.expirationTime">{{minutes}} minuto{{minutesS}}</timer>
      </strong>
      para que ejecutemos la remesa.
    </h4>
  </div>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Datos cuenta bancaria</div>
    <!-- Table -->
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Razón social</th>
          <td>Dinex Spa</td>
        </tr>
        <tr>
          <th scope="row">RUT</th>
          <td id="dinexRUT">76436908-4
            <button class="btn btn-xs btn-default pull-right" ngclipboard data-clipboard-target="#dinexRUT">
              <i class="fa fa-copy"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">Banco</th>
          <td>Banco de Chile</td>
        </tr>
        <tr>
          <th scope="row">Cuenta Corriente</th>
          <td id="dinexBankAccountNumber">2201053400
            <button class="btn btn-xs btn-default pull-right" ngclipboard data-clipboard-target="#dinexBankAccountNumber">
              <i class="fa fa-copy"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td id="dinexEmail">depositos@dinex.cl
            <button class="btn btn-xs btn-default pull-right" ngclipboard data-clipboard-target="#dinexEmail">
              <i class="fa fa-copy"></i>
            </button>
          </td>
        </tr>
        <tr class="bg-success">
          <th scope="row">Monto a Transferir</th>
          <td>{{quotation.sourceAmountToBeDeposited | currency:"CLP $":0}}
            <button class="btn btn-xs btn-default pull-right" ngclipboard data-clipboard-text="{{quotation.sourceAmountToBeDeposited}}">
              <i class="fa fa-copy"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Remittance confirmed failed-->
<div ng-show="quotationConfirmed === 'error'">
  <div class="alert alert-danger" role="alert">
    <h4>Hubo un problema!</h4>
    <p>{{quotationConfirmedError}}</p>
  </div>
  <a class="btn btn-default pull-left" ng-href="#/">Nueva cotización &nbsp;<span class="glyphicon glyphicon-repeat"></span></a>
  <br>
</div>
