<div class="info-text">
<h3>Términos y condiciones</h3>

CONTRATO  TÉRMINOS  Y  CONDICIONES  PARA  LA  TRANSFERENCIA  DE  DIVISAS  AL EXTERIOR

1. ANTECEDENTES

1.1. DINEX SPA, RUT: 76436908-4, es una sociedad por acciones constituida por escritura pública de fecha 22 de Octubre de 2014, otorgada en el Registro de Empresas y Sociedades.
<br>
1.2. Como parte de su objeto social, DINEX, entre otras materias, administra y opera directamente, o a través de terceros, plataformas informáticas, software, redes y conexiones a través de las cuales ofrece a sus Usuarios la posibilidad de instruir transferencia de divisas dentro del país y hacia el exterior (“Transferencia”), como también la compra y venta de monedas extranjeras (“Divisas”) y/o criptomonedas.
<br>
1.3. En el marco del presente contrato el cliente es una persona natural o jurídica que requiere transferir divisas al exterior.
<br>
1.4. El cliente declara conocer y aceptar que DINEX no es una entidad regulada por la Superintendencia de Bancos e Instituciones Financieras o la Superintendencia de Valores y Seguros, y que el servicio que presta no es ni debe ser considerado como de carácter bancario o de intermediación de bienes y servicios.
<br>
2. OBJETO DEL CONTRATO
<br>
2.1. El presente contrato (“Contrato”) tiene por objeto definir y establecer los términos y condiciones que regularan las relaciones entre Dinex SpA (DINEX) y el cliente ("Usuario") en relación a las instrucciones de Trasferencia impartidas por el cliente a DINEX.
<br>
2.2. Para estos efectos, el Usuario declara conocer y aceptar que DINEX, a través de su plataforma web, será un mandatario del Usuario para efectos de la Transferencia. Así, en cada instrucción de Transferencia el Usuario mandata a DINEX para transferir el monto y a quien el Usuario determine, en los términos establecidos en el presente Contrato y conforme a las disposiciones de los artículos 2.116 y siguientes del Código Civil.
<br>
2.3. Conforme a lo anterior, el Usuario confiere en este acto un mandato especial a DINEX, para que, actuando a nombre propio por cuenta del Usuario o a nombre del Usuario, a través de sus representantes, durante toda la vigencia del presente Contrato, y de acuerdo a las instrucciones específicas de éste, convierta a la moneda extranjera seleccionada los fondos depositados a DINEX en pesos moneda nacional y los transfiera de acuerdo a las instrucciones específicas que le imparta para tales efectos.
<br>
2.4. El mandato especial indicado en la sección precedente se entenderá que el Usuario lo otorga en cada oportunidad que solicite una Transferencia a DINEX.
<br>
2.5. Para que el Usuario pueda instruir la Transferencia deberá seguir los pasos detallados en la cláusula 3 siguiente.
<br>
2.6. El Usuario declara en este acto, y cada vez que instruye la Transferencia, que está instruyendo dicha Transferencia por si mismo, y no actuando en representación o por cuenta de un tercero.
<br>
2.7. En relación con la información sobre la identificación del Usuario, el Usuario declara a DINEX que todos los antecedentes entregados son correctos, reales y fidedignos, y comunicará a DINEX cualquier cambios que produzca en ellos en el tiempo.
<br>
2.8. Asimismo, el Usuario declara y reconoce que utilizará la plataforma de transferencias de DINEX sólo para efectuar Transferencias de origen y finalidad lícita.
<br>
3. PROCEDIMIENTO PARA LA TRANSFERENCIA DE DIVISAS AL EXTERIOR
<br>
3.1. Para que el Usuario esté en condiciones de instruir la Transferencia deberá acceder a la página web de PASAPLATA.COM: https://www.pasaplata.com
<br>
3.1. Para realizar una Transferencia, el Usuario declara conocer y aceptar el procedimiento que se indica a continuación. Sin perjuicio de lo anterior, el Usuario declara conocer y aceptar que DINEX podrá en cualquier momento, y sin expresión de causa, modificar el referido procedimiento de Transferencia. Para estos efectos, DINEX comunicará oportunamente el cambio de procedimiento de Transferencias y se requerirá la aprobación de la modificación al Usuario al solicitar cualquier nueva Transferencia.
<br>
3.2. El Usuario deberá cotizar en la página web de PASAPLATA el monto que desea enviar (en moneda nacional) o el monto que desea sea recibido en destino (en moneda extranjera). El monto máximo a ser transferido mediante este contrato es el equivalente a USD 990 en moneda nacional o divisa extranjera.
<br>
3.3 La página web le responderá con una cotización donde se detalla el monto en moneda nacional a ser enviado al extranjero, la tarifa de DINEX por el servicio, el tipo de cambio observado para la transferencia y el monto final a ser recibido en destino.
<br>
3.4. De aceptar el Usuario la cotización entregada, deberá ingresar un email válido que esté bajo su exclusivo control para establecer las comunicaciones entre DINEX y el usuario, así como el RUT asociado a la cuenta bancaria de la cual es titular y desde la cual realizará la transferencia bancaria en moneda nacional a la cuenta de Dinex SPA para que posteriormente se de curso a la transferencia internacional.
<br>
3.5 A continuación el Usuario debe registrar los datos del destinatario de la transferencia internacional.
<br>
3.4. El Usuario declara conocer y aceptar que es de su exclusiva responsabilidad contar y proveer a DINEX de los antecedentes completos y correctos del Beneficiario de la Transferencia, liberando a DINEX de cualquier responsabilidad derivada de Transferencias realizadas a terceros con los datos provistos por el Usuario.
<br>
3.5. Una vez ingresados los datos del destinatario de la transferencia internacional el Usuario deberá revisar y confirmar la información que ingresó así como los valores cotizados (monto de origen en moneda nacional, tarifa, tipo de cambio y monto a ser recibido en destino).
<br>
3.6 Una vez confirmada la información de parte del usuario se le indicarán los datos de la cuenta bancaria de Dinex SPA a la cual deberá ejecutar la transferencia en moneda nacional equivalente al monto de origen cotizado.
<br>
3.7 El Usuario cuenta con 15 minutos desde el momento en que crea la cotización para ejecutar la transferencia en moneda nacional descde su cuenta bancaria, asociada al RUT que indicó en el formulario de registro de transferencia internacional, a la cuenta bancaria de Dinex SPA.
<br>
3.8 Pasados los 15 minutos de validez de la cotización se considerará como invalida por lo que de recibir los fondos estos no serán transferidos al extranjero y serán devueltos en su totalidad al Usuario en un plazo no mayor a 72 horas.
<br>
3.9 Al momento de recibir la transferencia bancaria dentro del plazo de 15 minutos contados desde la creación de la cotización Dinex SPA ejecutará la transferencia internacional acorde a lo detallado en la cotización.
<br>
3.7.5. El Usuario declara conocer y aceptar que DINEX no procederá a realizar la Transferencia instruida por el Usuario sino hasta acreditar que se encuentran disponibles en su cuenta corriente una suma igual al Monto de origen cotizado en Pesos.
<br>
3.7.6. Para estos efectos, se entenderá que se encuentra disponible el Monto de origen cotizado en Pesos en la cuenta corriente de DINEX, en la medida que los fondos se hubieren recibido desde la cuenta informada por el Usuario en el Formulario de transferencia internacional y que el monto depositado es igual al Monto de origen cotizado en Pesos.
<br>
3.9. El Usuario declara conocer y aceptar que DINEX está facultado para rechazar cualquier solicitud de Transferencia cuando los datos proporcionados en la solicitud de Transferencia sean insuficientes o incorrectos, siendo de responsabilidad exclusiva del Usuario comprobar su exactitud antes de instruir la Transferencia.
<br>
3.9. El Usuario declara conocer y aceptar que está fuera del alcance de DINEX todo rechazo de transferencia bancaria en el destino o todo cargo adicional que se pueda derivar de la trasnferencia bancaria en el pais de destino el cual esté fuera del control de DINEX y que afecte en una disminución del monto a ser recibido por el destinatario final de la transferencia internacional.
<br>
3.10 En caso de que por razones de fuerza mayor no se aposible ejecutar la transferencia bancaria en el país de destino de la remesa DINEX devolverá al Usuario el Monto de origen transferido a al cuenta de Dinex SPA en su totalidad. Este abono se realizará a la cuenta bancaria que indique el usuario en un plazo no mayor a 72 horas.
<br>
5. MODIFICACIONES AL CONTRATO
<br>
5.1. DINEX podrá en cualquier momento modificar y/o actualizar el presente Contrato. DINEX deberá notificar el contenido de dicha propuesta de modificación al Usuario, mediante comunicación dirigida a éste en la manera descrita en la cláusula 9 siguiente.
<br>
5.2. Para hacer efectiva la modificación, el Usuario deberá manifestar su conformidad y acuerdo con la misma, conforme se indique en el sitio web de DINEX.
<br>
5.3. En caso de que el Usuario no esté de acuerdo con las modificaciones propuestas por DINEX, éste podrá poner término al presente Contrato sin ulterior responsabilidad, conforme a lo indicado en la cláusula 10 siguiente.
<br>
5.4. Sin perjuicio de lo anterior, si el Usuario declara conocer y aceptar que para instruir una nueva Transferencia una vez notificada la modificación del Contrato, requerirá necesariamente aceptar o rechazar dichas modificaciones. En el evento que el Usuario acepte las modificaciones, se encontrará habilitado para poder seguir con el proceso de Transferencia.
<br>
6. DISPONIBILIDAD DE LA PÁGINA WEB
<br>
6.1. DINEX hará todos los esfuerzos para que la página web www.pasaplata.com esté disponible las 24 horas del día los 7 días de la semana, sin perjuicio de los horarios habilitados para hacer Transferencias, los cuales serán informados a través de la referida página web. Dada complejidad de los sistemas y redes utilizados por DINEX es imposible garantizar un funcionamiento libre de fallas o interrupciones, sin perjuicio de lo cual, DINEX se compromete, en caso de fallas, a realizar todos los esfuerzos necesarios para restablecer la continuidad del servicio en el menor tiempo posible.
<br>
6.2. Conforme a lo anterior, DINEX y el Usuario acuerdan expresamente que DINEX podrá por motivos de fallas, mantención de los sistemas, problemas técnicos, corte operacional y, en general, por cualquier caso fortuito o fuerza mayor, modificar, suspender y/o suprimir, temporal o definitivamente las Transferencias, liberando en este acto el Usuario a DINEX de toda responsabilidad en que pudiere incurrir como consecuencia de dichas situaciones.
<br>
7. RESPONSABILIDAD
<br>
7.1. El Usuario declara conocer y aceptar que DINEX no será responsable por la imposibilidad de materializar la Transferencia o por los daños que resulten de pérdidas de datos, daño emergente, lucro cesante, u otra pérdida o perjuicio originados por negligencia o infracción del Usuario a los términos de este Contrato, o cuando ello sea consecuencia de circunstancias imprevistas más allá del control de DINEX, o de hechos constitutivos de caso fortuito o fuerza mayor, tales como cortes eléctricos, indisponibilidad de redes, catástrofes ambientales, atentados terroristas, u otros acontecimientos de similar naturaleza.
<br>
7.2. Por su parte, DINEX tampoco será responsable por la imposibilidad de materializar la Transferencia debido a errores o inexactitudes en los datos de la misma o bien la imposibilidad del Beneficiario, o de la entidad a través de la cual recibe la Transferencia, de recibirla.
<br>
7.3. En caso de fallas del sistema o bien de que la entidad receptora de la Transferencia no acepte recibir el monto transferido, DINEX comunicará dicha situación al Usuario y se procederá con la reposición de los fondos.
<br>
7.4. Asimismo, el Usuario declara conocer y aceptar que DINEX y/o las entidades a través de las cuales DINEX materialice las Transferencias de Divisas podrán requerir información adicional en relación con el Usuario, con la Transferencia o con el Beneficiario de la misma, obligándose el Usuario a proporcionarla a DINEX en tiempo y forma. DINEX no será responsable por la no materialización de la Transferencia en la medida que el Usuario no entregue la información solicitada.
<br>
8. CONFIDENCIALIDAD DE LA INFORMACIÓN.
<br>
8.1. DINEX tratará los datos de carácter personal que sean proporcionados por el Usuario con la debida confidencialidad y de acuerdo a las normas vigentes.
<br>
8.2. De acuerdo a la legislación vigente, el Usuario queda informado y acepta que al registrarse, los datos personales que entregue durante el proceso de registro en la página web de DINEX, así como aquellos que se entreguen, obtengan y/o generen durante la vigencia del Contrato (datos tales como, número de RUT, dirección de correo electrónico, número de teléfono celular, entre otros) serán incorporados en una base de datos automatizada de propiedad de DINEX. El Usuario expresamente autoriza y acepta que dichos datos personales podrán ser utilizados por DINEX, o transferidos por ésta a empresas relacionadas y a sus prestadores de servicio, dando siempre cumplimiento a lo dispuesto en la Ley 19.628 de Protección de la Vida Privada, en la medida en que fuese necesario o conveniente para agregar nuevos atributos o beneficios a los Usuarios o mejorar la calidad de la prestación de servicios y productos de DINEX y sus filiales.
<br>
8.3. El Usuario registrado podrá solicitar a DINEX, la rectificación, modificación, eliminación y/o cancelación de sus datos cuando lo estime conveniente, en conformidad a la Ley 19.628 sobre Protección de la Vida Privada. Lo anterior es sin perjuicio del cumplimiento de las obligaciones legales y normativas de DINEX en relación a la información que debe conservar de sus Usuarios.
<br>
8.4. El Usuario autoriza expresamente a DINEX a entregar a las entidades a través de las cuales materialice las Transferencias, así como a cualquier autoridad gubernamental o judicial chilena o de los países a los cuales se realizan dichas Transferencias, previa solicitud presentada por dichas entidades, cualquier información relacionada con el Usuario o las Transferencias que instruya.
<br>
8.5. En relación con lo anterior, el Usuario declara conocer y aceptar que, conforme a lo establecido en la Ley 19.913, DINEX tiene la obligación de informar a la Unidad de Análisis Financiero las operaciones que cumplan con las condiciones para calificarlas como sospechosas y a entregar la información del Usuario, de las Transferencias y de los Beneficiarios de acuerdo a los requerimientos específicos que dicha entidad formule.
<br>
9. COMUNICACIONES
<br>
9.1. El Usuario declara conocer y aceptar que DINEX podrá entregar al Usuario cualquier aviso, información o comunicación por cualquiera de los siguientes medios: (i) mediante avisos desplegados en la página web de DINEX; (ii) mediante el envío de un correo electrónico a la dirección de correo registrada por el Usuario en el Formulario de Creación de Cuenta, o cualquiera de sus modificaciones; (iii) mediante el envío de un mensaje de texto al teléfono celular registrado por el Usuario en el Formulario de Creación de Cuenta, o cualquiera de sus modificaciones; (iv) mediante el envío de una carta dirigida a la dirección registrada por el Usuario en el Formulario de Creación de Cuenta, o cualquiera de sus modificaciones; y (v) mediante otros medios que razonablemente determine DINEX y que sean debidamente informados al Usuario.
<br>
9.2. Por su parte, el Usuario podrá comunicarse con DINEX a través del formulario de contacto en el sitio web www.pasaplata.com, correo electrónico o vía telefónica, conforme a los datos informados por la referida página web.
<br>
9.3. Cualquier comunicación enviada por DINEX al Usuario o por el Usuario a DINEX, se entenderá recibida por el receptor a las 72 horas después de enviada, si se trata de una carta, o el mismo día del envío, si se trata de un correo electrónico o mensaje de texto.
<br>
9.4. El Usuario se obliga a comunicar a DINEX de cualquier cambio que se produzca en los antecedentes solicitados en el Formulario de Creación de Cuenta, liberando a DINEX de cualquier responsabilidad derivada de la no entrega oportuna de los nuevos datos de identificación o de contacto.
<br>
10. VIGENCIA DEL CONTRATO
<br>
10.1. DINEX y el Usuario acuerdan que el presente Contrato tendrá una duración indefinida, sin perjuicio que cualquier de las partes podrá ponerle término, sin expresión de causa y sin generar responsabilidad alguna, mediante una comunicación escrita dirigida a la otra parte en tal sentido.
<br>
10.2. Lo anterior es sin perjuicio de la responsabilidad de DINEX o del Usuario del cumplimiento de las obligaciones pendientes al momento de solicitar la terminación del Contrato.
<br>
11. CESIÓN DEL CONTRATO
<br>
11.1. El Usuario declara conocer y aceptar que no podrá ceder total o parcialmente el presente Contrato y/o cualquier de los derechos u obligaciones derivados del mismo, sin previa autorización escrita de DINEX.
<br>
11.2. El Usuario autoriza expresamente a DINEX para ceder, totalmente o parcialmente el presente Contrato, y los derechos u obligaciones derivados del mismo, a su matriz o cualquiera de sus filiales o empresas relacionadas. La cesión a cualquier tercero distinto de los indicados precedentemente, requerirán de la autorización previa y escrita del Usuario.
<br>
12. ACUERDO ÚNICO Y FORMALIZACIÓN POR ESCRITO
<br>
12.1. El presente Contrato prefiere y reemplaza cualquier acuerdo previo, escrito o verbal, entre el Usuario y DINEX con respecto a las materias sujetas a este Contrato y se considerará para todos los efectos como el único acuerdo vigente entre ambos.
<br>
12.2. Para efectos de dar cumplimiento a la Ley 19.496 sobre Protección de los Derechos de los Consumidores, una vez aceptados por el Usuario, por medios electrónicos, el presente Contrato, DINEX se obliga a enviar al Usuario una confirmación escrita del hecho de haber quedado perfeccionado el Contrato. La referida confirmación podrá ser enviada por vía electrónica o por cualquier otro medio que DINEX estime adecuado, y deberá contener una copia íntegra, clara y legible del Contrato.
<br>
12.3. El Usuario podrá imprimir el presente Contrato a fin de conservar una copia escrita del mismo en sus archivos, renunciando al principio de que la existencia de los términos y condiciones aquí contenidas se demuestre mediante un documento escrito.
<br>
13. DOMICILIO Y RESOLUCIÓN DE CONFLICTOS
<br>
13.1. Se deja expresa constancia que para todos los efectos del presente contrato, las partes fijan domicilio especial en la comuna y ciudad de Santiago.
<br>
13.2. Toda controversia referida a la interpretación, ejecución o validez de este Contrato será resuelta en única instancia por un árbitro arbitrador, nombrado de común acuerdo por los interesados, quien conocerá la cuestión suscitada sin forma de juicio. El fallo de dicho árbitro será sin ulterior recurso, sustanciarán el proceso sin forma de juicio, su sentencia quedará ejecutoriada por el hecho de dictarse ante un ministro de fe y contra ella no procederá recurso alguno. A falta de acuerdo entre los interesados, el árbitro será designado por la Justicia Ordinaria.
</div>
